
@{
    Layout = "~/Views/Shared/_UniCampaignLayout.cshtml";
}
@section page_content{
    <div class="content-heading">
        Multiple Map Contact List
        <div class="pull-right">
          
            <div class="btn-group">
                <a class="btn btn-primary bg-primary-dark text-bold" data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-failure="globalAjaxErrorHandler" data-ajax-update="#modal_editor" href="@Url.RouteUrl(new {area="",controller="MultipleMap",action="AddandAssignMain" })">
                    <span>Add</span>&nbsp;&nbsp;<i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-flat panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                      Multiple Map Contact List
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive p0">
                        <table id="grid" class="table table-striped table-bordered table-condensed" data-source="@Url.Action(nameof(UniCampaignE.Web.Controllers.MultipleMapController.MltipleMapLists))"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section page_scripts{
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/c3.min.js"></script>
    <script type="text/javascript">
        var gridConfig = {};
        gridConfig.AssignUrl = '@Url.RouteUrl(new { area = "", controller = nameof(UniCampaignE.Web.Controllers.MultipleMapController).Replace("Controller", ""), action = nameof(UniCampaignE.Web.Controllers.MultipleMapController.AssignedCampaign), MultiListId = UrlParameter.Optional })';

        $(document).ready(function (e) {
            grid = $("#grid").grid({
                primaryKey: "Name",
                uiLibrary: "bootstrap",
                iconsLibrary:'fontawesome',
                notFoundText: "No records found",
                columns: [
                    { field: "Id", title: "Name", hidden:true },
                    { field: "Name", title: "Name", minWidth: 190, priority: 1 },
                    { field: "Purpose", title: "Purpose", minWidth: 50, priority: 5 },
                    { field: 'Source', title: 'Source' },
                    { field: 'CreatedOn', title: 'CreatedOn' },
                   {
                       field: '', title: 'Status',
                       align: 'center',
                       tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-failure="globalAjaxErrorHandler" data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-update="#modal_editor" href="@Url.RouteUrl(new { area = "", controller = "MultipleMap", action = "AssignedListsView", Id = UrlParameter.Optional })/{Id}"><small>Status</small></a>'
                   },
                    //{ field: '', title: 'CampaignMapList' }
                    {
                        title: 'CampaignMapList',
                        field: '',                      
                    align: 'center',
                    tmpl: '<a data-ajax="true" data-ajax-loading="#loader" data-ajax-method="GET" data-ajax-failure="globalAjaxErrorHandler" ' +
                'data-ajax-mode="replace" data-ajax-success="showModalEditor" data-ajax-update="#modal_editor" ' +
                'href="' + gridConfig.AssignUrl + "/" + '{Id}">' +
                '<small>view</small></a>'
        }

                ],
                pager: { enable: true, limit: 8, sizes: [8, 15, 25] }
            });
        });
    </script>
}
